input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.user-login{
  height: 100vh;
  width: 100%;
  background: lightgray;
  display: flex;
}

.user-login-left-side{
  flex: 0 0 calc(55%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.box div{
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.6);
}

.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: boxAnimation 8s linear infinite;
}
.box div:nth-child(2){
  top: 75%;
  left: 25%;
  animation: boxAnimation 9s linear infinite;
}
.box div:nth-child(3){
  top: 45%;
  left: 65%;
  animation: boxAnimation 10s linear infinite;
}
.box div:nth-child(4){
  top: 85%;
  left: 85%;
  animation: boxAnimation 7s linear infinite;
}
.box div:nth-child(5){
  top: 35%;
  left: 15%;
  animation: boxAnimation 10s linear infinite;
}
.box div:nth-child(6){
  top: 15%;
  left: 80%;
  animation: boxAnimation 9s linear infinite;
}
.box div:nth-child(7){
  top: 75%;
  left: 45%;
  animation: boxAnimation 10s linear infinite;
}
.box div:nth-child(8){
  top: 25%;
  left: 35%;
  animation: boxAnimation 8s linear infinite;
}
.box div:nth-child(9){
  top: 55%;
  left: 90%;
  animation: boxAnimation 7s linear infinite;
}
.box div:nth-child(10){
  top: 90%;
  left: 5%;
  animation: boxAnimation 8s linear infinite;
}
.box div:nth-child(11){
  top: 90%;
  left: 65%;
  animation: boxAnimation 7s linear infinite;
} 

 @keyframes boxAnimation {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.8) translateY(-100px) rotate(360deg);
    opacity: 0;
  }
}

.user-login-left-side img{
  height: 400px;
  margin-bottom: 100px;
}

.user-login-right-side{
  background-color: white;
  height: 100%;
  flex: 0 0 calc(45%);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column; 
  padding: 5%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);}

.user-login-right-side{
  background-color: white;
  height: 100%;
  flex: 0 0 calc(45%);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column; 
  padding: 5%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.user-login-right-side img{
  height: 40px;
}

.user-register-left-side{
  flex: 0 0 calc(50%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.register-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0;
  width: 100%;
}

.user-register-right-side{
  background-color: white;
  height: 100%;
  flex: 0 0 calc(50%);
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.user-login-form input[type="text"], input[type="password"]{
  outline: none;
  border: none;
  border-bottom: 1.5px solid gray;
  padding-left: 25px;
  padding-bottom: 5px;
}

.role-input-user{
  border: 0;
  border-bottom: 1.5px solid gray;
  padding-left: 25px;
  padding-right: 25px;
  padding-block: 3px;
}

.role-input-user:focus{
  outline: none;
}

.email-input-user{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23808080' viewBox='0 0 16 16'%3E%3Cpath d='M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.name-input-user{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.password-input-user{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23808080' viewBox='0 0 16 16'%3E%3Cpath d='M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.role-input-user {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-person-fill-gear' viewBox='0 0 16 16'%3E%3Cpath d='M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4m9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 5 center;
}

.name-input-user:focus,
.email-input-user:focus,
.password-input-user:focus{
  border-bottom: 1.5px solid black !important;
  transition: all 0.2s ease-in-out;
}

/* HTML: <div class="loader"></div> */
.loading-bar {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid #ffffff;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}


/* USER NAVBAR */

.user-navbar{
  max-width: 4.5rem;
  width: 4.5rem;   
  transition: all 0.2s ease-in-out;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.user-navbar .navbar-span{
  position: absolute;
  top: 18px;
  left: 50px;
  opacity: 0;
  transform: translateX(-20px);
  transition: transform 0.1s ease;
  transition: color 0.3s ease;
}

.nav-pills{
  max-width: 4.5rem;
  padding: 0;
  transition: all 0.3s ease;
}

.user-navbar:hover{
  max-width: 13rem;
  width: 13rem;
}

.user-navbar:hover .nav-pills{
  max-width: 100%;
}
 
.user-navbar:hover .nav-link{
  text-align: start;
  transition: all 0.3s ease;
}

.user-navbar:hover .navbar-span {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.user-navbar .nav-link{
  color: black !important;
}

.user-navbar .nav-link:hover{
  background-color: #212529;
  color: white !important;
}

.user-navbar .nav-link:hover h6{
  color: white !important;
}

.responsive-user-navbar{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  z-index: 999;
}

/* USER DASHBOARD */
.user-dashboard{
  display: flex;
  min-height: 100vh;
}

.user-dashboard-content{
  z-index: 0;
  margin: 1rem 1rem 1rem 6rem;
}

/* EXAM CONTENT */
.exam-content{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-top: 25px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.exam-content-head p{
  color: gray;
}

.exam-content:hover{
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.total-task{
  display: inline-flex;
  flex-shrink: 0;
  width: auto;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 5px;
}

.btn-user-feedback{
  display: inline-block;
  width: auto;
  border: 1px solid lightgray;
  padding: 7px;
  border-radius: 5px;
}

.btn-user-feedback:hover{
  background-color: #212529;
  color: white;
  transition: all 0.2s ease-in-out;
}

.accordionCollapse {
  transition: all 0.3s ease;
}

.accordion-body{
  background-color: rgb(230, 230, 230);
  padding: 15px;
  margin-top: -5px;
  border-radius: 0 0 5px 5px;
}

.bi-caret-up-fill{
  display: inline-flex;
  transform: rotate(0) translateY(2px);
  transition: transform 0.3s ease;
}

.bi-caret-up-fill.rotated {
  display: inline-flex;
  transform: rotate(180deg) translateY(-2px);
  transition: transform 0.3s ease;
}

.btn-exam-content-start{
  display: inline-block;
  width: auto;
  border: 1px solid lightgray;
  padding: 7px;
  padding-inline: 15px;
  border-radius: 5px;
  color: white;
  background-color: #212529;
}

.btn-exam-content-start .bi-arrow-right-short{
  display: inline-block;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.btn-exam-content-start:hover .bi-arrow-right-short{
  display: inline-block;
  transform: translateX(5px);
  transition: all 0.3s ease;
}

/* EXAM DETAIL */
.exam-detail-content{
  margin: 1rem 1rem 1rem 6rem;
}

.nav-exam-detail-content{
  list-style-type: none;
  display: flex;
  gap: 10px; 
  font-size: 1.2rem;
}

.nav-exam-detail-content a{
  text-decoration: none;
}
.nav-exam-detail-content a:hover{
  text-decoration: underline;
}

.user-task{
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 5px;
  margin-top: 1rem;
}

.tab {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}

.tab button{
  background-color: white;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  flex: 0 1 calc(10% - 10px);
}

.tab button.active {
  color: white;
  background-color: black;
  transition: all 0.2s ease;
}

.instruction{
  display: none;
  margin-top: 15px;
}

.instruction.show {
  display: block;
}

.form-control{
  display: inline-block;
  width: auto;
  border-color: gray;
}

.btn-submit-file-user{
  border: 1px solid gray;
  background-color: #212529;
  color: white;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.task-submitted{
  border: 1px solid gray;
  color: white;
  padding: 7px;
  padding-inline: 15px;
  border-radius: 5px;
  margin-left: 10px;
}

.user-exam-feedback{
  margin-top: 1rem;
  padding: 15px;
  border-radius: 5px;

}
.user-exam-feedback.correct{
  background-color: #b1ffcc;
}

.user-exam-feedback.false{
  background-color: #ffb1b1;
}

.user-exam-score{
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.no-exam{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

/* RESPONSIVE */
@media(max-width: 576px){
  .user-dashboard-content{
    margin: 1rem;
  }
  .exam-detail-content{
    margin: 1rem;
    padding: 0;
  }
  .btn-submit-file-user{
    margin-left: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 992px){
  .user-login-left-side{
    display: none;
    flex: 0;
  }

  .user-register-left-side{
    display: none;
    flex: 0;
  }

  .user-login-right-side{
    width: 100% !important;
    flex: 1;
    border-radius: 0;
  }

  .user-register-right-side{
    width: 100% !important;
    flex: 1;
    border-radius: 0;
  }
  
  .tab button{
    flex: 0 1 calc(20% - 10px);
  }

  .register-grid {
    grid-template-columns: 1fr;
    gap: 0; /* smaller gap on mobile */
  }
}

